
.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in.show {
    opacity: 1;
}

.slide-in-header {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide-in-header.show {
    transform: translateY(0);
    opacity: 1;
}

typing-effect {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    width: 0;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


.slide-in {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-in.show {
    transform: translateY(0);
    opacity: 1;
}
