.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in.show {
    opacity: 1;
}

.slide-in-header {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide-in-header.show {
    transform: translateY(0);
    opacity: 1;
}

.typing-effect {
    overflow: hidden;
    border-right: .15em solid var(--lamarr-blue);
    width: 0;
    animation: typing 2.5s forwards, blink-caret .75s step-end 4 forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--lamarr-blue); }
}


.slide-in {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-in.show {
    transform: translateY(0);
    opacity: 1;
}

/* --- NUEVA ANIMACIÓN "SLIDE UP" --- */

@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase base para los elementos a animar */
.slide-up-fade {
    opacity: 0;
    transform: translateY(30px);
}

/* Clase que añade el JS cuando el elemento es visible */
.slide-up-fade.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

