/* Estilos generales para la página Casos de Éxito */
.casos-exito {
    padding: 80px 0; 
    text-align: left; 
    background-color: #f8f8f8; 
}

.casos-exito h1 {
    font-size: 3.5em; 
    margin-bottom: 40px; 
    color: #333; 
    font-weight: bold; 
    text-align: center; 
}

.casos-exito .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para la lista de casos */
.casos-lista {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
}

.caso {
    background-color: #fff; /* Fondo blanco para cada caso */
    padding: 30px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

.caso:hover {
    transform: translateY(-5px); /* Eleva el caso al pasar el ratón */
}

.caso img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.caso h2 {
    font-size: 2em; 
    color: #007bff; 
    margin-bottom: 10px;
    transition: color 0.3s ease; 
}

.caso:hover h2 {
    color: #0056b3; 
}

.caso p {
    font-size: 1.2em; 
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

.resultados {
    margin-bottom: 20px;
}

.resultados h3 {
    color: #007bff; 
    margin-bottom: 10px;
}

.resultados ul {
    list-style: disc; 
    padding-left: 20px; 
}

.leer-mas {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #007bff; /* Azul para el botón */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold; 
}

.leer-mas:hover {
    background-color: #0056b3; 
}

/* Estilos para la paginación */
.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}

.pagina {
    display: inline-block;
    padding: 10px 20px; 
    margin: 0 5px;
    text-decoration: none;
    color: #007bff; 
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagina:hover,
.pagina.activa {
    background-color: #007bff;
    color: #fff;
}

.pagina.activa {
    border-color: #007bff;
}