.contact-section {
    background-color: #f8f8f8; /* Color de fondo corregido */
    padding: 80px 0;
    text-align: center;
}

.contact-section .cta-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-section .cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.contact-form {
    padding: 80px 0;
    text-align: center;
}

.contact-form form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 1em;
    transition: border-bottom-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom-color: #007bff;
}

.contact-form label {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 1.2em; /* Tamaño de fuente inicial aumentado */
    font-weight: bold; /* Hacer la fuente más gruesa */
}

.contact-form input:focus + label,
.contact-form textarea:focus + label,
.contact-form input:not(:placeholder-shown) + label,
.contact-form textarea:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 0.8em;
    color: #007bff;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.contact-info {
    background-color: #f8f8f8;
    padding: 80px 0;
    text-align: center;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 15px;
    font-size: 1.1em;
}

/* Animaciones */
.contact-form input,
.contact-form textarea,
.contact-form button {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}