footer {
    background-color: var(--white);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--gray-800);
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: var(--gray-500);
}

