header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0; /* Reducir el padding vertical */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a[href="index.html"] {
    background-color: #007bff;
    color: #fff;
}

nav a:not([href="index.html"]):hover {
    background-color: #007bff;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo img {
    height: 40px;
}