.services-aws {
    padding: 80px 0;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-text);
}

.services-aws h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--color-text);
    position: relative; 
    padding-bottom: 10px; 
}

.services-aws h1::after { 
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: var(--color-primary);
}

.services-aws > .container > p {
    font-size: 1.1em;
    line-height: 1.7;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.service-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    margin-bottom: 50px;
    padding: 0 20px; 
}

.service-item ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.service-item li {
    margin-bottom: 5px;
    font-size: 1em;
}

.trust-message {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--color-primary);
    padding: 0 20px; 
}

.contact-button-container {
    text-align: center; 
    margin-top: 40px; 
}